<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToDashboard()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Course Topics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let topic of topics" (click)="openOptionsModal()" class="topic-item">
      <ion-label>
        <h2>{{ topic.title }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>