<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Display question if available -->
  <ion-card *ngIf="questions.length > 0; else noQuestions">
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{ questions[currentQuestionIndex].question }}</ion-card-title>
    </ion-card-header>

    <!-- Display the multiple-choice options -->
    <ion-list>
      <ion-radio-group [(ngModel)]="selectedOption">
        <ion-item *ngFor="let option of options" (click)="selectOption(option)">
          <ion-label>{{ option }}</ion-label>
          <ion-radio slot="start" [value]="option"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    
    <!-- Button to proceed to the next question -->
    <ion-button expand="block" color="primary" [disabled]="!selectedOption" (click)="nextQuestion()">
      Next
    </ion-button>
  </ion-card>

  <!-- Fallback if no questions are available -->
  <ng-template #noQuestions>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No questions available for this course.</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>
</ion-content>