/* Style for the list when categories are displayed */
.categories-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .category-item {
    width: 80%;
    text-align: center;
    margin: 20px 0;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .category-icon {
    font-size: 1.8rem;
    margin-right: 10px;
  }
  
  .category-label {
    font-size: 1.5rem;
  }
  
  /* Style for the list when courses are displayed */
  .courses-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .course-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%; /* Match width with categories */
    margin: 20px 0;
  }
  
  .course-label {
    font-size: 1.5rem; /* Set the font size for the course label */
    text-align: center; /* Center the text */
    display: block;
    width: 100%;
  }
  
  /* Back button styling */
  .back-button {
    width: auto;
    font-size: 1rem;
    padding: 10px 15px;
    margin: 20px auto;
    display: block;
  }