<ion-header>
  <ion-toolbar>
    <ion-title>Edit Course</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editCourseForm">
    <ion-item>
      <ion-label>Course</ion-label>
      <ion-select formControlName="selectedCourseId">
        <ion-select-option *ngFor="let course of courses" [value]="course.id">
          {{ course.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Question</ion-label>
      <ion-input formControlName="newQuestion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Answer</ion-label>
      <ion-input formControlName="newAnswer"></ion-input>
    </ion-item>

    <!-- Disable the button until the form is valid -->
    <ion-button 
      expand="block" 
      (click)="addQuestionAndAnswer()" 
      [disabled]="!editCourseForm.valid"
      color="primary">
      Add Question and Answer
    </ion-button>
  </form>
</ion-content>
