<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Community Hub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Streak Information -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Your Streak</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{ streak }} day(s)</h2>
    </ion-card-content>
  </ion-card>

  <!-- Personal Best Information -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Your Personal Best Streak</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{ personalBest }} day(s)</h2> <!-- Display the personal best streak -->
    </ion-card-content>
  </ion-card>

  <!-- Leaderboard Chart -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Leaderboard</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas baseChart
              [data]="chartData"
              [options]="chartOptions"
              chartType="bar">
      </canvas>
    </ion-card-content>
  </ion-card>
</ion-content>