<!--
<ion-list style="width: 100%;"></ion-list>
<ion-list>
  <ion-item>
    <ion-label class="ion-text-center">My Work: Developer</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-center">Fun Fact: I know how to ride a motorcycle</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-center">Speaks English</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-center">I'm obsessed with: My dog</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-center">Born in 2000</ion-label>
  </ion-item>
</ion-list>
-->