<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="loading" class="loading-overlay">
    <ion-spinner></ion-spinner>
  </div>

  <div style="max-width: 600px; margin: 0 auto; padding: 16px;">
    <!-- Profile Picture Component -->
    <app-profile-picture></app-profile-picture>

    <!-- Edit Account Details Button -->
    <ion-button expand="full" color="primary" (click)="openEditAccountModal()">
      <ion-icon name="create-outline" slot="start"></ion-icon>
      Edit Profile
    </ion-button>
  </div>
</ion-content>