<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">account</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="max-width: 600px; margin: 0 auto; padding: 16px;">
    <app-profile-picture></app-profile-picture>
    <app-edit-name></app-edit-name>
    <app-edit-number></app-edit-number>
    <app-profile-list></app-profile-list>
  </div>
</ion-content>
