.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .loading-overlay ion-spinner {
    --color: #ffffff; /* Bright spinner color for contrast */
    --spinner-width: 5px;
    --spinner-height: 5px;
  }
  